@media(min-width:768px){
    .container-1 {
        display: flex;
    }
    .container-2 {
        display: flex;
        justify-content: space-between;
    }
}


.container-1 div , .container-2 div {
    border: 1px #ccc solid;
    padding: 10px;
}

.container-2-box {
    flex-basis: 27%;
}

.box1 {
    flex: 2;
    order: 2;
}

.box2 {
    flex: 1;
    order: 1;
}

.box3 {
    flex: 1;
    order: 3;
}