<div class="container-1">
  <div class="box1">
    <h1>Box one</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cupiditate ratione temporibus adipisci
      dolor, est possimus, nemo velit saepe repellat sequi beatae. Consequuntur, dolores! Voluptatum ducimus aliquid
      facere repudiandae aliquam?</p>
  </div>
  <div class="box2">
    <h1>Box two</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cupiditate ratione temporibus adipisci
      dolor, est possimus, nemo velit saepe repellat sequi beatae. Consequuntur, dolores! Voluptatum ducimus aliquid
      facere repudiandae aliquam?</p>
  </div>
  <div class="box3">
    <h1>Box three</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cupiditate ratione temporibus adipisci
      dolor, est possimus, nemo velit saepe repellat sequi beatae. Consequuntur, dolores! Voluptatum ducimus aliquid
      facere repudiandae aliquam?</p>
  </div>
</div>
<div class="container-2">
  <div class="container-2-box">
    <h1>Box four</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cupiditate ratione temporibus adipisci
      dolor, est possimus, nemo velit saepe repellat sequi beatae. Consequuntur, dolores! Voluptatum ducimus aliquid
      facere repudiandae aliquam?</p>
  </div>
  <div class="container-2-box">
    <h1>Box five</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cupiditate ratione temporibus adipisci
      dolor, est possimus, nemo velit saepe repellat sequi beatae. Consequuntur, dolores! Voluptatum ducimus aliquid
      facere repudiandae aliquam?</p>
  </div>
  <div class="container-2-box">
    <h1>Box sex</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae cupiditate ratione temporibus adipisci
      dolor, est possimus, nemo velit saepe repellat sequi beatae. Consequuntur, dolores! Voluptatum ducimus aliquid
      facere repudiandae aliquam?</p>
  </div>
</div>